.abc{
    background-color: blue;
    height: 300px;
    width: 100%;
}
.xyz{
    background-color: green;
    height: 300px;
    width: 100%;
    /* margin-left:10px; */
}
.vis{
    background-color: yellow;
    height: 300px;
    width: 100%;
    /* margin-top: 10px; */
}
p{
    margin: 10px;
}